<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" th:src="@{/js/join.js}"></script>
<link rel="stylesheet" th:href="@{/css/join-style.css}" />
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<body>
<div class="join-page">
    <form class="join-form" action="/members/new" method="post">
        <div>
            <input class="join-item" type="text" id="id" name="id">
            <input class="join-item" type="text" id="idcheck" style="display:none">
        </div>
        <input class="join-item" type="password" name="pw">
        <button class="join-item"type="submit">확인</button>
    </form>
</div>
</body>
</html>