<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layou"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/join-style.css}" />
</th:block>
<th:block layout:fragment="script">
<script type="text/javascript" th:src="@{/js/join.js}"></script>
</th:block>
<body layout:fragment="content">
<div class="join-page">
    <form class="join-form" action="/members/new" method="post">
        <div class="join-title" id="join-title">회원 가입</div>
        <label class="join-item" for="id">아이디</label>
        <input class="join-item" type="text" id="id" name="id">
        <input class="join-item" type="text" id="idCheck" style="display:none">

        <label class="join-item" for="pw">비밀번호</label>
        <input class="join-item" type="password" id="pw" name="pw" onchange="pwcheck()">
        <label class="join-item" for="pw2">비밀번호 확인</label>

        <input class="join-item" type="password" id="pw2" name="pw2" onchange="pwcheck()" onmouseout="pwcheck()">
        <input class="join-item" type="text" id="pwCheck" style="display:none">

        <label class="join-item" for="email">이메일</label>
        <input class="join-item" type="text" id="email" name="email" onchange="emailcheck()">
        <input class="join-item" type="text" id="emailCheck" style="display:none">

        <button type="submit" id="submit">확인</button>
    </form>
</div>
</body>
</html>