<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layou"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/login-style.css}" />
</th:block>
<th:block layout:fragment="script">
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</th:block>
<body layout:fragment="content">
    <div class="login-page">
        <form class="login-form" action="/members/login" method="post">
            <input class="login-item" name="id" type="text" />
            <input class="login-item" name="pw" type="password" />
            <button class="login-item" type="submit">로그인</button>
        </form>
        <div class="info-user">
            <a class="user-item" href="">id/pw 찾기</a>
            <a class="user-item" href="/members/new">회원가입</a>
        </div>
    </div>
</body>
</html>