<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layou"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/boardDetail-style.css}" />
</th:block>

<th:block layout:fragment="script">
  <script type="text/javascript" th:src="@{/js/boardDetail.js}"></script>
</th:block>

<body layout:fragment="content">
<div class="boardwrite-page">
  <input type="hidden" th:value="${boardDetail.no}">
  <input type="hidden" id="MemberId" value="${session.MemberId}">

  <div class="title-list">
    <label class="title-label">제목</label>
    <div class="title" th:text="${boardDetail.title}"></div>
  </div>
  <div class="id-list">
    <label class="id-label">아이디</label>
    <div class="id" th:text="${boardDetail.id}"></div>
  </div>
  <div class="contents-list">
    <div class="contents" th:text="${boardDetail.contents}"></div>
  </div>
  <div>
    <a href="/board/boardList">목록</a>
    <a th:if="${session.MemberId == boardDetail.id}" th:href="@{/board/boardModify(no=${boardDetail.no})}">수정</a>
    <a th:if="${session.MemberId == boardDetail.id}" th:href="@{/board/boardDelete(no=${boardDetail.no})}">삭제</a>
    <input type="button" id="write" onclick="idCheck()" value="글쓰기"/>
  </div>
</div>
</body>
</html>