<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layou"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/board-style.css}" />
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/board.js}"></script>
</th:block>

<body layout:fragment="content">
<div class="board-page">
    <div class="board">
        <div class="schema-list">
            <div class="number">번호</div>
            <div class="title">제목</div>
            <div class="id">작성자</div>
        </div>
        <div th:each="board : ${boardList}" class="board-list">
            <div th:text="${board.no}" class="number"></div>
            <div th:onclick="|location.href='@{/board/boardDetail(no=${board.no})}'|" th:text="${board.title}" class="title"></div>
            <div th:text="${board.id}" class="id"></div>
        </div>

    </div>

    <div class="board-index">
        <a th:href="@{/board/boardList(nowPage=${paging.startPage})}">목록</a>
        <a th:if="${paging.nowPage != paging.startPage}" th:href="@{/board/boardList(nowPage=${paging.nowPage - 1})}">이전</a>
        <div th:each=" num : ${#numbers.sequence(paging.startPage, paging.endPage)}">
            <a class="index-list" th:href="@{/board/boardList(nowPage=${num})}" th:text="${num}"></a>
        </div>
        <a th:if="${paging.nowPage != paging.endPage}" th:href="@{/board/boardList(nowPage=${paging.nowPage + 1})}">다음</a>
        <a th:href="@{/board/boardWrite}">글쓰기</a>
    </div>

</div>
</body>
</html>