<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layou"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/boardWrite-style.css}" />
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/boardWrite.js}"></script>
</th:block>

<body layout:fragment="content">
<div class="boardwrite-page">
    <form class="boardwrite-form" action="/board/boardWrite" method="post">
            <div class="boardwrite-page">
                <div class="title-list">
                    <label class="title-label">제목</label>
                    <input type="text" class="title" name="title" />
                </div>
                <div class="id-list">
                    <label class="id-label">아이디</label>
                    <div class="id" th:text="${session.MemberId}"/>
                    <input type="hidden" name="id" th:value="${session.MemberId}">
                </div>
                <div class="contents-list">
                    <input type="text" class="contents" name="contents" />
                </div>
                <div>
                    <a th:href="@{/board/boardList}">글목록</a>
                    <button type="submit">등록</button>
                </div>
            </div>
    </form>
</div>
</body>
</html>