<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layou"
    layout:decorate="~{fragments/layout}"
>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/seat-style.css}" />
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/seat.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
</th:block>
<body layout:fragment="content">
    <div class="seat-page">
        <div class="seats">
            <div id='seat' class="seat">1</div>
            <div id="seat" class="seat">2</div>
            <div id="seat" class="seat">3</div>
            <div id="seat" class="seat">4</div>
            <div id="seat" class="seat">5</div>
            <div id="seat" class="seat">6</div>
            <div id="seat" class="seat">7</div>
            <div id="seat" class="seat">8</div>
            <div id="seat" class="seat">9</div>
            <div id="seat" class="seat">10</div>
        </div>
        <div class="infomation">
            <div id="userseat"></div>
            <div id="useseat"></div>
            <div id="notuseSeat"></div>
            <div class="boardseat" style="background-color: red;">사용중인 좌석</div>
            <div class="boardseat" style="background-color: green;">사용 가능한 좌석</div>
        </div>
    </div>
</body>
</html>