<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="container-top" th:fragment="headerFragment">
        <div>
            <a class="nav logo" href="/">Pencil Study</a>
        </div>
        <div style="display : flex;">
            <input type="hidden"  id="MemberId" th:value="${session.MemberId}" />
            <div class="nav"th:text="${session.MemberId} + ' 님 환영합니다  '" th:if="${session.MemberId != empty}"></div>
            <a class="nav" th:if="${session.MemberId != empty}" href="/">정보수정</a>
            <a class="nav" th:if="${session.MemberId != empty}" href="/members/logout">로그아웃</a>
            <a class="nav" th:if="${session.MemberId == empty}" href="/members/login">로그인</a>
            <a class="nav" th:if="${session.MemberId == empty}" href="/members/new">회원가입</a>
        </div>
    </div>
</html>