.board-page {
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 30px;
}

.board {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 450px;
}

.schema-list, .board-list {
    display: flex;
    margin: 10px;
    text-align: center;
}

.number, .id, .index-list{
    flex: 1;
}

.title {
    flex: 3;
}

.board-index {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.board-search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.search-kind, .search-btn{
    width: 100px;
    height: 30px;

    text-align: center;

    border: 1px solid darkgray;
    border-radius: 30px;

    background-color: white;
}

.searchWord {
    width: 300px;
    height: 30px;

    border: 1px solid darkgray;
    border-radius: 30px;

    margin-left: 30px;
    margin-right: 30px;
}



