.join-page {
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px
}

.join-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
}

.join-item {
    margin: 5px;
    width: 300px;
    height: 30px;
}

.join-title {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 400px;
    height: 200px;
    font-family: fantasy;
    font-size: 60px;
    text-decoration: none;
}
