.join-page {
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid darkgray;
    border-radius: 30px;

    margin-top: 10px;
    margin-bottom: 10px
}

.join-form {
    display: flex;
    flex-direction: column;
}

.join-item {
    margin: 5px;
    width: 300px;
    height: 30px;
}

.join-title {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 300px;
    height: 100px;
    font-family: fantasy;
    font-size: 60px;
    text-decoration: none;
}

input {
    border: none;
    border-bottom: 2px solid lightgray;
}

button {
    margin-top: 5px;
    padding: 15px;

    background-color: white;
    border-radius: 20px;
    border: 1px solid lightgray;
}

