<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layou"
      layout:decorate="~{fragments/layout}"
>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/index-style.css}" />
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="content" >
    <div class="index-page">
        <button class="btn-prev"><</button>
        <div class="slides-container">
            <div class="slides">
                <div class="slide">
                    <img src="/img/1.png">
                </div>
                <div class="slide">
                    <img src="/img/2.png">
                </div>
                <div class="slide">
                    <img src="/img/3.png">
                </div>
            </div>
        </div>
        <button class="btn-next" id="btn-next">></button>
    </div>
</body>
</html>