<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="css/style.css">
<body>
    <div class="container-top">
        <a href="/members/login">로그인</a>
    </div>

    <div class="container-mid">
        <div class="seats">
            <div class="seat">1</div>
            <div class="seat">2</div>
            <div class="seat">3</div>
            <div class="seat">4</div>
            <div class="seat">5</div>
            <div class="seat">6</div>
            <div class="seat">7</div>
            <div class="seat">8</div>
            <div class="seat">9</div>
            <div class="seat">10</div>
        </div>
        <div class="infomation">

        </div>
    </div>

        <div class="container-bottom">
        </div>
</body>
</html>